#devise
#devise-forms
  %h6= t('devise.passwords.change_your_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = bootstrap_devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.password_field :password, required: true, placeholder: t('devise.forms.fields.password'), class: 'form-control'
      - if @minimum_password_length
        %small.form-text.text-dark= t('devise.passwords.minimum_pass_length', count: @minimum_password_length)
    .form-group
      = f.submit t('devise.passwords.change_and_login'), class: 'btn btn-primary'
    = render 'devise/shared/links'
