%div.box
  %button.btn.btn-sm.btn-secondary#newCategory
    NEW CATEGORY
  = render 'categories/form'
%hr

- @categories.each do |category|
  .card
    .card-img-top
      = link_to(image_tag('category.png'), category_path(category))
    .card-text
      = category.name
      = category.count
      %br
      .btn-group.d-flex.justify-content-center
        = link_to 'show', category_path(category), class: 'btn btn-sm btn-secondary'
        -if current_user == category.user
          = link_to 'edit', edit_category_path(category), class: 'btn btn-sm btn-secondary'
          = link_to 'delete', category_path(category), class: 'btn btn-sm btn-secondary', method: :delete, data: { confirm: 'Delete?' }
        -if current_user.following?(category)
          = link_to 'unfollow', unfollow_category_path(category), class: 'btn btn-sm btn-secondary', remote: true, method: :put
        -else
          = link_to 'follow', follow_category_path(category), class: 'btn btn-sm btn-secondary', remote: true, method: :put