=render 'home/header'

= form_for @image do |f|
  .form-group
    = f.file_field :path
    = f.hidden_field :category_id, value: params[:cat_id]
    = f.hidden_field :user_id, value: current_user.id
    = f.submit