!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-expand-md.navbar-dark.bg-dark
      .container.d-flex.justify-content-between
        = link_to('Gallery', root_path, class: 'navbar-brand ml-2')
        %button.navbar-toggler{ type: 'button' , 'data-toggle' => 'collapse', 'data-target' => '#menu',
                                'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false',
                                'aria-label' => 'Toggle navigation' }
          %span.navbar-toggler-icon

        #menu.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            - if user_signed_in?
              %li.nav-item.dropdown.active.bd-dark
                %a.nav-link.dropdown-toggle{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true',
                                             'data-toggle' => 'dropdown', :href => '#', :role => 'button' }
                  = t('layout.top_categories.top')
                .dropdown-menu{ 'aria-labelledby' => 'navbarDropdown' }
                  - if Category.count.zero?
                    %a.dropdown-item
                      = t('layout.top_categories.empty')
                  - else
                    - Category.limit(5).each do |category|
                      =link_to(category.name, category_images_path(category), class: 'dropdown-item')
              %li.nav-item
                = link_to(t('layout.images'), '#', class: 'nav-link')
              %li.nav-item
                = link_to(t('layout.comments'), '#', class: 'nav-link')
              %li.nav-item.dropdown.active
                %a.nav-link.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button' }
                  = current_user.username
                %div.dropdown-menu{'aria-labelledby' => 'navbarDropdown'}
                  -if action_name == 'show' && controller_name == 'categories'
                    %a.dropdown-item
                      =link_to(t('layout.add_image'), new_category_image_path(category_id: params[:id]), class: 'dropdown-item')
                  -elsif action_name == 'index' && controller_name == 'categories'
                    %a.dropdown-item
                      =link_to(t('layout.add_category'), new_category_path, class: 'dropdown-item')
                  %a.dropdown-item
                    = link_to(t('layout.profile'), edit_user_registration_path, class: 'dropdown-item')
                  %a.dropdown-item
                    = link_to(t('devise.sessions.destroy.sign_out'), destroy_user_session_path, class: 'dropdown-item', method: :delete)
            -else
              %a.navbar-item
                = link_to('Sign in', user_session_path, class: 'nav-link')
              %a.navbar-item
                = link_to('Sign up', new_user_registration_path, class: 'nav-link')
    .container
      = yield