!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Gallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-expand-md.navbar-dark.bg-dark
      .container.d-flex.justify-content-between
        =link_to('Gallery', root_path, class: 'navbar-brand ml-2')
        %button.navbar-toggler{ type: 'button' , 'data-toggle' => 'collapse', 'data-target' => '#menu',
                                'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false',
                                'aria-label' => 'Toggle navigation' }
          %span.navbar-toggler-icon

        #menu.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            -if user_signed_in?
              %li.nav-item.dropdown.active.bd-dark
                %a.nav-link.dropdown-toggle{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true',
                                             'data-toggle' => 'dropdown', :href => '#', :role => 'button' }
                  =t('layouts.application.top_categories.top')
                .dropdown-menu{ 'aria-labelledby' => 'navbarDropdown' }
                  -if categories_zero?
                    %a.dropdown-item
                      =t('layouts.application.top_categories.empty')
                  -else
                    -get_top_categories(5).each do |category|
                      =link_to(category.name, category_path(category), class: 'dropdown-item')
              %li.nav-item
                =link_to(t('layouts.application.images'), images_path, class: 'nav-link')
              %li.nav-item
                =link_to(t('layouts.application.comments'), comments_path, class: 'nav-link')
              %li.nav-item.dropdown.active
                %a.nav-link.dropdown-toggle{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true',
                                            'data-toggle' => 'dropdown', :href => '#', :role => 'button' }
                  = current_user.username
                %div.dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'navbarDropdown' }
                  -if action_name == 'show' && controller_name == 'categories'
                    =link_to(t('catetegories._modal.edit_category'), '#modalCategory', 'data-toggle' => 'modal', class: 'dropdown-item') # call modal
                  =link_to(t('layouts.application.profile'), edit_user_registration_path, class: 'dropdown-item')
                  =link_to(t('layouts.application.log_out'), destroy_user_session_path, class: 'dropdown-item', method: :delete)
            -else
              %a.navbar-item
                =link_to(t('devise.sessions.new.sign_in'), user_session_path, class: 'nav-link')
              %a.navbar-item
                =link_to(t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'nav-link')
            %li.nav-item.active
              -if I18n.locale == :ru
                =link_to('En', { locale: :en }, class: 'nav-link')
              -else
                =link_to('Ru', { locale: :ru }, class: 'nav-link')

    .container
      =yield